# Class Project 2

## Global Commodity Trade Statistics
10/03 Pandas 2

 ![alt text]( commodity.jpg "Logo Title Text 1")


Are you curious about fertilizer use in developing economies? The growth of Chinese steel exports? American chocolate consumption? Which parts of the world still use typewriters? You'll find all of that and more here. This dataset covers import and export volumes for 5,000 commodities across most countries on Earth over the last 30 years.

**Acknowledgements**

This dataset was kindly published by the United Nations Statistics Division on the UNData site. You can find the original dataset here.

**Inspiration**

Some of these numbers are more trustworthy than others. I'd expect that British tea imports are fairly accurate, but doubt that Afghanistan exported exactly 51 sheep in 2016. Can you identify which nations appear to have the most trustworthy data? Which industries?
License
Per the UNData terms of use: all data and metadata provided on UNdataâ€™s website are available free of charge and may be copied freely, duplicated and further distributed provided that UNdata is cited as the reference.

## Instructions

**Basic Stuff**

- Download Dataset from this link: https://www.dropbox.com/s/cngszszrzsz9cgx/commodity_trade_statistics_data.csv?dl=0
- Import "commodity_trade_statistics_data.csv", name it *trade*.

I want you to understand how to do this process, including how to manage *filepath*

- How many columns and rows are in the dataset?
- Print the first 10 values of the dataset
- How many countries are represented and which? (*unique*, *nunique*)

**Slicing**

- Using loc get only the information of China within the column *country_or_area* and store it in a new DataFrame called china
- How many rows of information has it? 
- Combining two conditions, make a new dataframe from china of 'Horses, live pure-bred breeding' exported from china. Call it *china_horses_exp*
- How many registers are there
- How many horses are involved in those transactions?



**CHALLENGE!!**


Apply a function to *china_horses_exp* using lambda that transforms horses weight_kg to lb.

In [31]:
china =trade.loc[trade['country_or_area'] == "China"]

In [26]:
trade.country_or_area.nunique()

209

In [32]:
china.commodity.unique()

array(['Horses, live pure-bred breeding',
       'Horses, live except pure-bred breeding',
       'Asses, mules and hinnies, live', ...,
       'Antiques older than one hundred years',
       'Commodities not specified according to kind', 'ALL COMMODITIES'],
      dtype=object)

In [41]:
horses_china = china.loc[(china['commodity'] == 'Horses, live pure-bred breeding') & (china['flow'] == 'Export')]

In [42]:
myfunction = lambda x :x*2.2

In [43]:
horses_china['weight_kg'].apply(myfunction)

9811      6160.0
9837      4620.0
9859     15840.0
9882     14399.0
9942         NaN
10053      369.6
10077      686.4
Name: weight_kg, dtype: float64

In [1]:
import pandas as pd
import numpy as np

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [16]:
import os
path = '/home/franciscoar/Documents/'
os.chdir(path)

In [8]:
os.getcwd()

'/home/franciscoar/Documents'

In [11]:
# 1
trade = pd.read_csv('commodity_trade_statistics_data.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
#2
trade.shape

(8225871, 10)

In [18]:
trade.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8225871 entries, 0 to 8225870
Data columns (total 10 columns):
country_or_area    object
year               int64
comm_code          object
commodity          object
flow               object
trade_usd          int64
weight_kg          float64
quantity_name      object
quantity           float64
category           object
dtypes: float64(2), int64(2), object(6)
memory usage: 3.6 GB

In [19]:
trade.head(10)

,country_or_area,year,comm_code,commodity,flow,trade_usd,weight_kg,quantity_name,quantity,category
0,Afghanistan,2016,10410,"Sheep, live",Export,6088,2339.0,Number of items,51.0,01_live_animals
1,Afghanistan,2016,10420,"Goats, live",Export,3958,984.0,Number of items,53.0,01_live_animals
2,Afghanistan,2008,10210,"Bovine animals, live pure-bred breeding",Import,1026804,272.0,Number of items,3769.0,01_live_animals
3,Albania,2016,10290,"Bovine animals, live, except pure-bred breeding",Import,2414533,1114023.0,Number of items,6853.0,01_live_animals
4,Albania,2016,10392,"Swine, live except pure-bred breeding > 50 kg",Import,14265937,9484953.0,Number of items,96040.0,01_live_animals
5,Albania,2016,10511,"Fowls, live domestic < 185 grams",Import,2671732,254652.0,Number of items,5629138.0,01_live_animals
6,Albania,2016,10511,"Fowls, live domestic < 185 grams",Export,87581,5320.0,Number of items,115180.0,01_live_animals
7,Albania,2016,10519,"Poultry, live except domestic fowls, < 185 grams",Import,26485,2908.0,Number of items,64000.0,01_live_animals
8,Albania,2016,10591,"Fowls, live domestic > 185 grams",Import,2421513,1926850.0,Number of items,1006990.0,01_live_animals
9,Albania,2016,10599,"Poultry, live except domestic fowls, > 185 grams",Import,251318,211177.0,Number of items,205124.0,01_live_animals