# Class Project

## 10/31 Pandas 1

 <img src="media/climate.jpg" width="600">

Let's practice pandas using the DataFrame from the Case

## Instructions

- Import "2_boe_noaa_data.csv" (or the name you are currently using for it, just make sure it contains no blank spaces), name it battle.
- How many columns and rows are in the dataset?
- Print the first 100 values of the dataset
- Describe with summary statistics the information contained in boston:
    - What is the minimum value of DAMAGE_PROPERTY?

- How many nulls are there per each column?
- What are the data types in the dataset?
- What is the EVENT_TYPE of the 134th observation listed?
- Create a new dataframe called no_state where you include all columns except 'STATE'

**CHALLENGE!!**


Create a loop that:
- Creates a list where the generated values are = STATE_FIPS x CZ_FIPS	
- Call this new list "PRED_THING"
- Add this list as a new column to battle dataset

In [2]:
import pandas as pd
import numpy as np
import os

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
os.chdir('/home/franciscoar/')

In [4]:
battle = pd.read_csv('Documents/challenge/2_boe_noaa_data.csv')

In [5]:
#2
battle.shape

(328685, 17)

In [12]:
battle['EVENT_TYPE'].loc[134]

'Drought'

In [13]:
battle.corr()

,EPISODE_ID,EVENT_ID,STATE_FIPS,CZ_FIPS,DAMAGE_PROPERTY,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
EPISODE_ID,1.000000,0.935805,0.004918,0.022013,-0.004409,-0.007368,-0.016321,-0.007119,-0.016723
EVENT_ID,0.935805,1.000000,-0.003670,0.021972,-0.004652,-0.005887,-0.024073,-0.005629,-0.024531
STATE_FIPS,0.004918,-0.003670,1.000000,0.442833,0.009942,-0.700800,-0.043782,-0.700794,-0.043567
CZ_FIPS,0.022013,0.021972,0.442833,1.000000,0.007431,-0.462836,-0.089972,-0.462911,-0.089795
DAMAGE_PROPERTY,-0.004409,-0.004652,0.009942,0.007431,1.000000,-0.010785,0.003072,-0.010749,0.002825
BEGIN_LAT,-0.007368,-0.005887,-0.700800,-0.462836,-0.010785,1.000000,0.284264,0.999971,0.284193
BEGIN_LON,-0.016321,-0.024073,-0.043782,-0.089972,0.003072,0.284264,1.000000,0.284111,0.999921
END_LAT,-0.007119,-0.005629,-0.700794,-0.462911,-0.010749,0.999971,0.284111,1.000000,0.284042
END_LON,-0.016723,-0.024531,-0.043567,-0.089795,0.002825,0.284193,0.999921,0.284042,1.000000

In [7]:
battle.describe()

,EPISODE_ID,EVENT_ID,STATE_FIPS,CZ_FIPS,DAMAGE_PROPERTY,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
count,3.286850e+05,3.286850e+05,328685.000000,328685.000000,3.286820e+05,219250.000000,219250.000000,219250.000000,219250.000000
mean,5.724935e+05,2.377197e+06,30.486317,112.689463,4.441383e+05,38.018363,-97.705892,38.017317,-97.701571
std,6.797018e+05,2.465792e+06,13.257395,106.075375,4.372161e+07,4.469958,3.291104,4.469105,3.291874
min,1.000000e+00,8.000000e+00,8.000000,1.000000,0.000000e+00,25.817900,-109.050300,25.854500,-109.050000
25%,5.404700e+04,3.254580e+05,20.000000,38.000000,0.000000e+00,34.830000,-100.030000,34.830000,-100.030000
50%,1.067730e+05,6.427930e+05,27.000000,84.000000,0.000000e+00,38.350000,-97.430000,38.350000,-97.430000
75%,1.149345e+06,5.347660e+06,48.000000,151.000000,0.000000e+00,41.360000,-95.315325,41.350000,-95.301350
max,2.414827e+06,5.724807e+06,48.000000,507.000000,1.000000e+10,49.350000,-46.530000,49.350000,-46.530000

In [9]:
battle.head()

,EPISODE_ID,EVENT_ID,BEGIN_DATETIME,END_DATETIME,STATE,STATE_FIPS,CZ_NAME,CZ_TYPE,CZ_FIPS,EVENT_TYPE,DAMAGE_PROPERTY,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE
0,2151539,5673793,1998-12-22 00:00:00.000,1998-12-24 23:59:00.000,TEXAS,48,HILL,Z,145,Ice Storm,0.0,NaN,NaN,NaN,NaN,A strong arctic cold front moved through North...,NaN
1,2150892,5669829,1998-11-09 21:10:00.000,1998-11-09 21:10:00.000,OKLAHOMA,40,OSAGE,C,113,Thunderstorm Wind,0.0,36.82,-96.42,36.82,-96.42,Summary of events for November 9-10 1998:A sol...,NaN
2,2151663,5674812,1998-12-19 05:00:00.000,1998-12-21 10:00:00.000,COLORADO,8,CENTRAL YAMPA RIVER BASIN/CRAIG-HAYDEN AND VIC...,Z,2,Winter Storm,0.0,NaN,NaN,NaN,NaN,An upper trough and an Arctic air mass joined ...,NaN
3,2151538,5673653,1998-12-10 13:06:00.000,1998-12-10 21:30:00.000,TEXAS,48,HILL,C,217,Flash Flood,0.0,NaN,NaN,NaN,NaN,NaN,Thunderstorm rains caused county roads to be c...
4,2151538,5673654,1998-12-10 15:10:00.000,1998-12-10 15:10:00.000,TEXAS,48,JOHNSON,C,251,Flash Flood,0.0,NaN,NaN,NaN,NaN,NaN,Four county roads were closed due to high wate...

In [11]:
boston.isnull().sum()

RM         0
LSTAT      0
PTRATIO    0
MEDV       0
dtype: int64

In [12]:
boston.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489 entries, 0 to 488
Data columns (total 4 columns):
RM         489 non-null float64
LSTAT      489 non-null float64
PTRATIO    489 non-null float64
MEDV       489 non-null float64
dtypes: float64(4)
memory usage: 15.4 KB

In [13]:
boston.head(10)

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0
5  6.430   5.21     18.7  602700.0
6  6.012  12.43     15.2  480900.0
7  6.172  19.15     15.2  569100.0
8  5.631  29.93     15.2  346500.0
9  6.004  17.10     15.2  396900.0

In [17]:
boston['MEDV'][134]

327600.0